
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    
<!-- Footer Start -->
<div class="container-fluid bg-black text-white footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
            <div class="row g-4 align-items-center">
                <div class="col-lg-3">
                    <a href="#" class="text-decoration-none">
                        <h1 class="text-white mb-0">ZARA</h1>
                        <p class="text-white-50 mb-0">Phong cách làm nên thương hiệu</p>
                    </a>
                </div>
                <div class="col-lg-6 text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mx-2"><a href="#" class="text-white">Home</a></li>
                        <li class="list-inline-item mx-2"><a href="#" class="text-white">Shop</a></li>
                        <li class="list-inline-item mx-2"><a href="#" class="text-white">Collections</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">About Us</h4>
                <p class="mb-4">Explore the latest trends in fashion with FASHIONISTA. We bring you stylish and timeless collections.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">My Account</h4>
                <a class="btn-link text-white" href="#">Login</a>
                <a class="btn-link text-white" href="#">Order History</a>
                <a class="btn-link text-white" href="#">Wishlist</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Contact Us</h4>
                <p>Address: 123 Fashion St, New York, NY</p>
                <p>Email: support@fashionista.com</p>
                <p>Phone: +1 234 567 890</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid copyright bg-black py-4">
    <div class="container text-center">
        <span class="text-white">&copy; 2025 FASHIONISTA. All Rights Reserved.</span>
    </div>
</div>
<!-- Copyright End -->